{{trun-cate "This is very very long and beyond" length=20}}
<br>
{{trun-cate "this is very long" length=10}}
<br>
<br>
<div>Hi, Mr. {{firstName}} {{lastName}}</div>
<br>
<div>Last name is disabled: {{nameDisabled}}<br></div>
<br>
<div>First name: {{input value=firstName size=20}}</div>
<div>Last name: {{input value=lastName disabled=nameDisabled}}</div>
<br>
<br>
<div>Enable last name? {{input type="checkbox" checked=nameDisabled}}</div>